.info-content {
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  word-break: break-word;
}

.info-item svg {
  margin-right: 15px;
}

.info-item label {
  color: #3aaa64;
  font-weight: 200;
  line-height: 1.7;
  cursor: pointer;
}

.info-item label:hover {
  text-decoration: underline;
}

.info-item span {
  color: black;
  font-weight: 300;
  line-height: 1.7;
}
