@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;500&display=swap");

body {
  background: #dae3e7;
  font-family: "Montserrat", sans-serif;
  color: #434343;
  font-size: 16px;
}

.container {
  padding: 60px 45px;
  display: flex;
  flex-direction: row;
  width: 1360px;
  max-width: inherit;
  margin: 0 auto;
}

.right-column {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  min-width: 25%;
}

.left-column {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

button {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 16px;
  background: #479fc8;
  border: 1px solid #479fc8;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 200px;
  min-width: 200px;
  height: 50px;
  padding: 5px 8px;
  border-radius: 5px;
}

input {
  font-family: "Lato", arial, sans-serif;
  height: 30px;
  border: 1px solid #d1cfcf;
  outline: none;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-size: 15px;
}

input:focus {
  outline: 0;
  border: 1px solid #479fc8;
}

textarea {
  font-family: "Lato", arial, sans-serif;
  height: 100px;
  border: 1px solid #d1cfcf;
  outline: none;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-size: 15px;
}

textarea:focus {
  outline: 0;
  border: 1px solid #479fc8;
}

input::placeholder {
  font-family: "Lato", arial, sans-serif;
  font-size: 15px;
}

textarea::placeholder {
  font-family: "Lato", arial, sans-serif;
  font-size: 15px;
}

.button-content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
